.pydevproject
.project
.DS_Store
*.pyc
*.swp

# database connectors
database_connect.php
database_connect.py
db_connect.sh
db_config.json

DownloadLog.txt

# Ulmo directory that Andrew added to his directory
ulmo/
